In [43]:
import requests
import pandas as pd
import datetime
import dateutil
import re
from bokeh.models import Range1d

from bokeh.plotting import figure, show
from bokeh.io import output_notebook

In [2]:
tickersymbol = 'AAPL'
url = 'https://www.quandl.com/api/v3/datasets/WIKI/' + tickersymbol + '.json'
r = requests.get(url)

In [3]:
request_df = pd.DataFrame(r.json())
request_df

                                                                 dataset
collapse                                                            None
column_index                                                        None
column_names           [Date, Open, High, Low, Close, Volume, Ex-Divi...
data                   [[2017-08-21, 157.5, 157.89, 155.1101, 157.21,...
database_code                                                       WIKI
database_id                                                         4922
dataset_code                                                        AAPL
description            End of day open, high, low, close and volume, ...
end_date                                                      2017-08-21
frequency                                                          daily
id                                                               9775409
limit                                                               None
name                   Apple Inc (AAPL) Prices, Dividends, Splits and...
newest_available_date                                         2017-08-21
oldest_available_date                                         1980-12-12
order                                                               None
premium                                                            False
refreshed_at                                    2017-08-21T21:49:42.833Z
start_date                                                    1980-12-12
transform                                                           None
type                                                         Time Series

In [4]:
df = request_df['dataset'].apply(pd.Series) 
df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,9241,9242,9243,9244,9245,9246,9247,9248,9249,9250
collapse,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
column_index,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
column_names,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
data,"[2017-08-21, 157.5, 157.89, 155.1101, 157.21, ...","[2017-08-18, 157.86, 159.5, 156.72, 157.5, 270...","[2017-08-17, 160.52, 160.71, 157.84, 157.87, 2...","[2017-08-16, 161.94, 162.51, 160.15, 160.95, 2...","[2017-08-15, 160.66, 162.195, 160.14, 161.6, 2...","[2017-08-14, 159.32, 160.21, 158.75, 159.85, 2...","[2017-08-11, 156.6, 158.5728, 156.07, 157.48, ...","[2017-08-10, 159.9, 160.0, 154.63, 155.27, 390...","[2017-08-09, 159.26, 161.27, 159.11, 161.06, 2...","[2017-08-08, 158.6, 161.83, 158.27, 160.08, 35...",...,"[1980-12-26, 35.5, 35.62, 35.5, 35.5, 248100.0...","[1980-12-24, 32.5, 32.63, 32.5, 32.5, 214300.0...","[1980-12-23, 30.88, 31.0, 30.88, 30.88, 209600...","[1980-12-22, 29.63, 29.75, 29.63, 29.63, 16680...","[1980-12-19, 28.25, 28.38, 28.25, 28.25, 21710...","[1980-12-18, 26.63, 26.75, 26.63, 26.63, 32790...","[1980-12-17, 25.87, 26.0, 25.87, 25.87, 385900...","[1980-12-16, 25.37, 25.37, 25.25, 25.25, 47200...","[1980-12-15, 27.38, 27.38, 27.25, 27.25, 78520...","[1980-12-12, 28.75, 28.87, 28.75, 28.75, 20939..."
database_code,WIKI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data = df.ix['data',:].apply(pd.Series) 
data.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,2017-08-21,157.50,157.890,155.1101,157.21,26145653.0,0.0,1.0,157.50,157.890,155.1101,157.21,26145653.0
1,2017-08-18,157.86,159.500,156.7200,157.50,27012525.0,0.0,1.0,157.86,159.500,156.7200,157.50,27012525.0
2,2017-08-17,160.52,160.710,157.8400,157.87,26925694.0,0.0,1.0,160.52,160.710,157.8400,157.87,26925694.0
3,2017-08-16,161.94,162.510,160.1500,160.95,27321761.0,0.0,1.0,161.94,162.510,160.1500,160.95,27321761.0
4,2017-08-15,160.66,162.195,160.1400,161.60,27936774.0,0.0,1.0,160.66,162.195,160.1400,161.60,27936774.0

In [6]:
data.columns = df.ix['column_names',0:12]
data.head(5)

column_names,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
0,2017-08-21,157.50,157.890,155.1101,157.21,26145653.0,0.0,1.0,157.50,157.890,155.1101,157.21,26145653.0
1,2017-08-18,157.86,159.500,156.7200,157.50,27012525.0,0.0,1.0,157.86,159.500,156.7200,157.50,27012525.0
2,2017-08-17,160.52,160.710,157.8400,157.87,26925694.0,0.0,1.0,160.52,160.710,157.8400,157.87,26925694.0
3,2017-08-16,161.94,162.510,160.1500,160.95,27321761.0,0.0,1.0,161.94,162.510,160.1500,160.95,27321761.0
4,2017-08-15,160.66,162.195,160.1400,161.60,27936774.0,0.0,1.0,160.66,162.195,160.1400,161.60,27936774.0

In [7]:
data['Date'] = pd.to_datetime(data['Date'])
data.dtypes
data.head(5)

column_names,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
0,2017-08-21,157.50,157.890,155.1101,157.21,26145653.0,0.0,1.0,157.50,157.890,155.1101,157.21,26145653.0
1,2017-08-18,157.86,159.500,156.7200,157.50,27012525.0,0.0,1.0,157.86,159.500,156.7200,157.50,27012525.0
2,2017-08-17,160.52,160.710,157.8400,157.87,26925694.0,0.0,1.0,160.52,160.710,157.8400,157.87,26925694.0
3,2017-08-16,161.94,162.510,160.1500,160.95,27321761.0,0.0,1.0,161.94,162.510,160.1500,160.95,27321761.0
4,2017-08-15,160.66,162.195,160.1400,161.60,27936774.0,0.0,1.0,160.66,162.195,160.1400,161.60,27936774.0

In [8]:
output_notebook()

In [9]:

today = datetime.date.today()
today

datetime.date(2017, 8, 21)

In [10]:
lastmonth = today - dateutil.relativedelta.relativedelta(months=1)
lastmonth

datetime.date(2017, 7, 21)

In [11]:
b = data['Date']>lastmonth
b.head(25)

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20    False
21    False
22    False
23    False
24    False
Name: Date, dtype: bool

In [12]:
data_lastmonth = data[b]
data_lastmonth

column_names,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
0,2017-08-21,157.50,157.8900,155.1101,157.21,26145653.0,0.00,1.0,157.500000,157.890000,155.110100,157.210000,26145653.0
1,2017-08-18,157.86,159.5000,156.7200,157.50,27012525.0,0.00,1.0,157.860000,159.500000,156.720000,157.500000,27012525.0
2,2017-08-17,160.52,160.7100,157.8400,157.87,26925694.0,0.00,1.0,160.520000,160.710000,157.840000,157.870000,26925694.0
3,2017-08-16,161.94,162.5100,160.1500,160.95,27321761.0,0.00,1.0,161.940000,162.510000,160.150000,160.950000,27321761.0
4,2017-08-15,160.66,162.1950,160.1400,161.60,27936774.0,0.00,1.0,160.660000,162.195000,160.140000,161.600000,27936774.0
5,2017-08-14,159.32,160.2100,158.7500,159.85,21754810.0,0.00,1.0,159.320000,160.210000,158.750000,159.850000,21754810.0
6,2017-08-11,156.60,158.5728,156.0700,157.48,25943187.0,0.00,1.0,156.600000,158.572800,156.070000,157.480000,25943187.0
7,2017-08-10,159.90,160.0000,154.6300,155.27,39081017.0,0.63,1.0,159.900000,160.000000,154.630000,155.270000,39081017.0
8,2017-08-09,159.26,161.2700,159.1100,161.06,25640394.0,0.00,1.0,158.616422,160.618300,158.467028,160.409148,25640394.0
9,2017-08-08,158.60,161.8300,158.2700,160.08,35775675.0,0.00,1.0,157.959089,161.176037,157.630423,159.433108,35775675.0
10,2017-08-04,156.07,157.4000,155.6900,156.39,20349532.0,0.00,1.0,155.439313,156.763938,155.060849,155.758020,20349532.0
11,2017-08-03,157.05,157.2100,155.0200,155.57,26000738.0,0.00,1.0,156.415353,156.574706,154.393556,154.941334,26000738.0
12,2017-08-02,159.28,159.7500,156.1600,157.14,69222793.0,0.00,1.0,158.636341,159.104442,155.528949,156.504989,69222793.0
13,2017-08-01,149.10,150.2200,148.4100,150.05,24725526.0,0.00,1.0,148.497479,149.612953,147.810267,149.443640,24725526.0
14,2017-07-31,149.90,150.3300,148.1300,148.85,19422655.0,0.00,1.0,149.294246,149.722509,147.531399,148.248489,19422655.0
15,2017-07-28,149.89,150.2300,149.1900,149.50,16832947.0,0.00,1.0,149.284287,149.622913,148.587115,148.895863,16832947.0
16,2017-07-27,153.75,153.9900,147.3000,150.56,32175875.0,0.00,1.0,153.128688,153.367718,146.704753,149.951579,32175875.0
17,2017-07-26,153.35,153.9300,153.0600,153.46,15172136.0,0.00,1.0,152.730305,153.307961,152.441477,152.839860,15172136.0
18,2017-07-25,151.80,153.8400,151.8000,152.74,18612649.0,0.00,1.0,151.186568,153.218325,151.186568,152.122770,18612649.0
19,2017-07-24,150.58,152.4400,149.9000,152.09,21122730.0,0.00,1.0,149.971498,151.823982,149.294246,151.475396,21122730.0

In [44]:
p = figure(title=tickersymbol,plot_width=600,plot_height=400,x_axis_type="datetime",x_range=Range1d(lastmonth, today))
p.line(data_lastmonth['Date'],data_lastmonth['Open'])

p.xgrid.minor_grid_line_color = 'navy'

In [47]:
show(p)

DataRange1d(id='d199e02e-4c2b-4906-b2b6-372235073c38', ...)